@charset "UTF-8";

#header {
	text-align: center;
	width: 765px;
	margin: 0 auto 10px;
}

#left {
	float: left;
	
	fieldset {
		background-color: #000000;
		border: 2px solid #382418;
		width: 260px;
		margin-bottom: 10px;
		display: block;
		padding: 0 5px 5px 5px;
		background-position: bottom right;
		background-repeat: no-repeat;
		
		legend {
			color: #FFFFFF;
			font-weight: bold;
		}
		ul, li {
			margin: 0;
			padding: 0;
		}
		li {
			list-style: square inside;
			width: 220px;
		}
	}
}

#right {
	margin: 0 0 110px 290px;
	
	#buttons {
		width: 457px;
		height: 110px;
		position: relative;

		.button {
			width: 200px;
			height: 100px;
			font-family: "Arial Bold", Arial, sans-serif;
			font-weight: bold;
			text-align: center;
			font-size: 20px;
			background: url('../../img/main/title/bigButton.png') no-repeat 0 0;
			cursor: pointer;
			position: absolute;
			top: 0;
			display: block;
			text-decoration: none;

			span {
				position: absolute;
				width: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				color: #D1B77C !important;
			}
		}
		.button:hover {
			background-position: 0 -100px;
		}
		.button:hover span {
			color: #FFE8A3 !important;
		}
		
		.button:first-child {
			left: 15px;
		}
		.button:last-child {
			right: 15px;
		}
	}
	
	.scroll {
		width: 466px;
		
		.top {
			background-image: url('../../img/main/title/scrollTop.png');
		}
		.bottom {
			background-image: url('../../img/main/title/scrollBottom.png');
		}
		.content {
			background-image: url('../../img/main/title/scrollContent.png');
			width: 437px;
		}
	}
	
	#newsContainer {
		padding: 13px 0;
		
		#newsHeader {
			width: 196px;
			height: 27px;
			display: block;
			margin: 0 auto 16px;
		}
		
		.newsItem {
			margin-bottom: 13px;
			
			.header {
				font-weight: bold;
			}
			.description {
				padding: 2px;
			}
			img {
				float: right;
				margin: 0 0 1em 1em;
				display: block;
				width: 50px;
				height: 50px;
			}
			.more {
				margin-top: 0.5em;
				clear: both;
			}
		}
	}
	
	#newsList {
		padding-bottom: 0.5em;
		text-align: right;
	}
}