@charset "UTF-8";

#header {
	text-align: center;
	width: 765px;
	margin: 0 auto 10px;
}

#left {
	float: left;
}
fieldset {
	background-color: #000000;
	border: 2px solid #382418;
	width: 260px;
	margin-bottom: 10px;
	display: block;
	padding: 0 5px 5px 5px;
	background-position: bottom right;
	background-repeat: no-repeat;
}
legend {
	color: #FFFFFF;
	font-weight: bold;
}
fieldset ul, fieldset li {
	margin: 0;
	padding: 0;
}
fieldset li {
	list-style: square inside;
	width: 220px;
}

#right {
	margin: 0 0 110px 290px;
}
#buttons {
	width: 457px;
	height: 110px;
	position: relative;
}
.button {
	width: 200px;
	height: 100px;
	font-family: "Arial Bold", Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	background: url('../../img/main/title/bigButton.png') no-repeat 0 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	display: block;
	text-decoration: none;
}
.button:hover {
	background-position: 0 -100px;
}
.button span {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	color: #D1B77C !important;
}
.button:hover span {
	color: #FFE8A3 !important;
}
#buttons .button:first-child {
	left: 15px;
}
#buttons .button:last-child {
	right: 15px;
}

.scroll {
	width: 466px;
}
.scroll .top {
	background-image: url('../../img/main/title/scrollTop.png');
}
.scroll .bottom {
	background-image: url('../../img/main/title/scrollBottom.png');
}
.scroll .content {
	background-image: url('../../img/main/title/scrollContent.png');
	width: 457px;
}