@charset "UTF-8";

html, body, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, hr, img, strong {
	margin: 0px;
	padding: 0px;
	border: none;
	border-collapse: collapse;
}
body {
	background: #000000 url('../img/bg/default.jpg') repeat-y center top;
	padding: 20px 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 13px;
}
a, a:link, a:visited {
	color: #90C040;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
strong {
	font-weight: bold;
}

#content {
	width: 765px;
	margin: 0 auto;
	text-align: left;
	position: relative;

	.frame {
		margin: 0 auto;
		border: 2px solid #382418;
		background-color: #000000;
		padding: 4px;
		width: 753px;
	}
	.titleFrame {
		@extend .frame;
		text-align: center;
		width: 500px;
		
		h1 {
			font-weight: bold;
			font-size: 13px;
			font-family: Arial, Helvetica, sans-serif;
			display: block;
			text-align: center;
		}
	}
	
	.scroll {
		position: relative;
		width: 765px;
		padding: 22px 0;
		margin: 25px auto 0;
		
		.top, .bottom {
			position: absolute;
			left: 0;
			height: 49px;
			width: 100%;
		}
		.top {
			top: 0;
			background: url('../img/layout/scrollTop.png') no-repeat 0 0;
		}
		.bottom {
			bottom: 0;
			background: url('../img/layout/scrollBottom.png') no-repeat 0 0;
		}
		
		.content {
			width: 725px;
			margin: 0 auto;
			background: url('../img/layout/scrollContent.png') repeat-y 0 0;
			padding: 25px 10px;
			color: #000000;
		}
			
		a {
			color: #7B4F17;
			font-weight: bold;
		}
	}
}

#footer {
	clear: both;
	font-size: 11px;
	text-align: center;
	margin-top: 10px;
}

.clear {
	clear: both;
}

.floatRight {
	float: right;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}

.red {
	color: #FF0000;
}
.orange {
	color: #FFBB22;
}