@charset "UTF-8";

textarea {
	width: 500px; 
	height: 242px; 
	max-width: 500px;
	min-width: 500px;
	max-height: 242px;
	min-height: 242px;
	background-color: #000000; 
	color: #FFFFFF; 
	border-color: #444444;
}