@charset "UTF-8";

.arrow {
	width: 30px;
	height: 15px;
}
.doubleArrow {
	width: 60px;
	height: 15px;
}

.nav {
	display: inline;
	
	input[name="page"] {
		text-align: center;
	}
}

tr.lower {
	td {
		padding-top: 10px;
	}
}

#accountList, #ticketList {
	width: 100%;
	margin: 1em 0;
	border: 1px solid #7B4F17;
	
	thead {
		td {
			font-weight: bold;
			background-color: #C9AD7A;
			border-bottom: 1px solid #7B4F17;
		}
		
		.sort {
			cursor: pointer;
		}
	}
	
	tbody {
		tr:nth-child(odd) {
			td {
				background-color: #D8CDA0;
			}
		}
		
		tr:nth-child(even) {
			td {
				background-color: #C9AD7A;
			}
		}
	}
	
	td {
		padding: 5px;
		text-align: left;
		vertical-align: middle;
	}
}

#ticketList {
	.title {
		width: 40%;
	}
	.author {
		width: 15%;
	}
	.date {
		width: 25%;
	}
}

form[name="searchForm"] {
	.searchField {
		display: inline-block;
		margin-right: 5px;
	}
}

h4 {
	font-weight: bold;
	display: block;
	font-size: 22px;
	margin: 0.5em 0;
}

label {
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
}

#userDetails {
	#basicDetails {
		width: 100%;
	}
	
	hr {
		margin: 0.5em 0 !important;
	}
}

#messageForm {
	.formSection {
		margin: 0.5em 0 1em;
	}
	
	label {
		cursor: pointer;
		margin-bottom: 3px;
	}
	
	input[type="text"], textarea, select {
		display: block;
	}
	input[type="text"], select {
		width: 350px;
	}
	textarea {
		width: 720px;
		min-width: 720px;
		max-width: 720px;
		height: 200px;
		min-height: 100px;
		max-height: 500px;
	}
}

#ticketDetails {

}